html, body, div#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #222;
}

div#root {
  background-color: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  height: calc(100% - 40px);
}

div.main {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px 50px 30px 50px;
  background-color: #333;
  border-radius: 12px;
}

h3 {
  line-height: 1.1;
  margin: 10px;
  font-size: 18px;
  margin-top: 24px;
}

.hint {
  color: #AAA;
  font-weight: normal;
}

input {
  background-color: #222;
  color: white;
  width: 48px;
  height: 48px;
  margin: 2px;
  border: 1px solid transparent;
  border-radius: 8px;
  text-align: center;
  font-size: 24px;
}

input:hover {
  background-color: #272727;
  border-color: rgb(18, 66, 138);
}

input:focus {
  border-color: rgb(21, 102, 224);
  outline: none !important;
}

.inputSpacer {
  display: inline-block;
  width: 16px;
}

.progress {
  font-size: 20px;
  background-color: #222;
  border-radius: 5px;
  padding: 10px 14px;
  width: 90%;
  height: 24px;
  text-align: center;
  position: relative;
}

.progress > span {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
}

.progressBar {
  background-color: rgb(21, 102, 224);
  height: 100%;
  width: 10px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}

button, a {
  width: 128px;
  height: 38px;
  border: none;
  border-color: none;
  border-radius: 5px;
  background-color: #222;
  cursor: pointer;
  font-size: 16px;
  color: white;
  padding: 8px;
  text-decoration: none;
  user-select: none;
}

a {
  height: 18px;
  text-align: center;
  font-size: 14px;
  margin: 0 8px;
}

.spaceHori {
  margin-top: 24px;
  margin-bottom: 24px;
}

button:hover:enabled, a:hover {
  background-color: rgb(18, 66, 138);
}

button:active:enabled, a:active {
  background-color: rgb(21, 102, 224);
}

button:disabled {
  color: #888;
  opacity: 0.5;
  cursor:not-allowed;
}

.resultEntry {
  width: 75%;
  padding: 10px;
  background-color: #222;
  border-radius: 10px;
  margin: 4px;
}

.bombResult {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bombResult > span {
  padding-right: 8px;
  color: #aaa;
}

.bombResult > div {
  min-width:32px;
  height: 32px;
  margin: 2px;

  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #aaa;
}

.maskResult
{ 
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 4px;
  margin-bottom: 8px;
}

.maskResult > div {
  width:58px;
  height: 58px;
  margin: 3px;

  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  color: #fff;
  text-shadow: black 0 0 8px;
}

.maskResult .mask0 { background-color: #c41957; }
.maskResult .mask1 { background-color: #6464e1; }
.maskResult .mask2 { background-color: #d3b051; }
.maskResult .mask3 { background-color: #7dbb51; }

div.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 48px;
  width: 100%;
  background-color: #151515;
  display: flex;
  align-items: center;
  justify-content: center;
}