@font-face {
  font-family: "Roboto";
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
}

* {
  font-family: 'Roboto';
}

body {
  margin: 0;
  font-family: 'Roboto', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
